@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #f1f3f9;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

.row {
  display: flex;
  border-bottom: 1px solid black;
}

.heading {
  font-weight: bold;
}

.cell {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}